body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

:root {
    --main-color: #0d7524;
}

:root {
    --section-color: black;
}


header,
section,
footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

section {
    background-color: rgb(44, 0, 35);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: var(--section-color);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
}

#idiomas {
    background-color: #37076e;
    padding: 20px;
}

.lengüages-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.lengüage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 180px;
    text-align: center;
}

.lengüage span {
    font-size: 50px;
    margin-bottom: 10px;
}


#informatica {
    background-color: #0f20b991;
    padding: 20px;
}

.especialidades-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.especialidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 180px;
    text-align: center;
}

.especialidades span {
    font-size: 50px;
    margin-bottom: 10px;
}

#experiencia {
    background-color: #361b1b;
    padding: 20px;
}

.contenidoexpe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.practica {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    /* Ajusta según necesidad */
    text-align: center;
}

.practica span {
    font-size: 50px;
    margin-bottom: 10px;
}
.practica span>img{
    width: 45%;
}

#formacion {
    background-color: #5207697c;
    padding: 20px;
}

.educacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.titulo:hover {
    background-color: rgb(28, 180, 135);
    font-weight: bold;
    margin: 25px;
}

.practica:hover {
    background-color: gold;
    font-weight: bold;
    margin: 25px;
}

.especialidades:hover {
    background-color: #440568;
    font-weight: bold;
}

.lengüage:hover {
    background-color: #943b08;
    font-weight: bold;
    margin: 25px;
}

p:hover {
    cursor: default;
}

h1:hover {
    cursor: default;
}

h2:hover {
    cursor: default;
}

h3:hover {
    cursor: default;
}

span:hover {
    cursor: default;
}

.educacion span {
    font-size: 50px;
    margin-bottom: 10px;
}

.educacion span {
    font-size: 50px;
    margin-bottom: 10px;
}

footer>p a:hover {
    color: red;
    background-color: gray;
}